* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #FFF;
    scrollbar-color: #454586 black;
    scrollbar-width: auto;
  }
  
html,
body{
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  background-color: rgba(47,47,85,1);
}

h1, h2, h5{
  margin: 0;
  padding: 0;
}

#root{
  width: 100dvw;
  height: 100dvh;
  justify-content: center;
  align-content: center;
  position: relative;
  display: flex;
}

#section-canvas{
  min-width: 100%;
  position: absolute;
  background-image:url('../public/img/sunset_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 1;
  filter: blur(0px);
}

/* -------- */
/* Projects */
/* -------- */
#section-projects,
#section-contact{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  background: rgb(47,47,85);
  background: linear-gradient(180deg, rgba(47,47,85,1) 17%, rgba(0,0,0,0.9) 100%);
  background-size: contain;
  top: 10%;
  width: 80dvw;
  height: fit-content;
  padding: 1.5rem;
  border-radius: 5px;
}

#button-container-projects,
#button-container-contact{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
}

#button-close-projects,
#button-close-contact{
  z-index: 999;
  background-color: transparent;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 5px;
  display: flex;
  margin-top: -1.4rem;
  margin-right: -1.4rem;
  justify-content: center;
  align-items: center;
  outline: none;
  box-shadow: none;
  border: 0;
  cursor: pointer;
}

#button-p{
  transform: rotateZ(45deg);
}

#button-p::before { 
  font-size: 1rem;
  text-decoration: none;
  content: "\2716"; 
  
}

#button-p:hover{
  transform: rotateZ(90deg);
}

#project-video,
#project-img {
  background-color: black;
  max-width: 60%;
  min-width: 60%;
  max-height: 64%;
  aspect-ratio: 16/9;
  border-radius: 5px;
  height: auto;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#description-container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 1rem;
  max-width: 100%;
  min-width: 30%;
  background: linear-gradient(180deg, rgba(47,47,85,1) 30%, rgba(0,0,0,0.6) 100%);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#project-name,
#project-url {
  max-width:fit-content ;
}

#project-description {
  color: white;
  padding: 0.5rem;
  flex: 1;
  height: fit-content;
  width: 100%;
}

#project-technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2%;
  background: linear-gradient(180deg, rgba(47,47,85,0.1) 0%, rgba(0,0,0,1) 100%);
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.skill-tech {
  max-width: 15dvw;
  max-height: 10dvw;
  margin-right: 1rem;
  border-radius: 5px;
}

h5, p {
  word-wrap: break-word;
  font-size: 1rem;
  margin: 0;
  width: 100%;
}

h1{
  width: 100%;
  display: flex;
  word-wrap: break-word;
}

@media screen and (max-width: 768px) {
  #section-projects {
    width: 90dvw;
    height: fit-content;
    top: 5%;
  }

  #project-video,
  #project-img {
    height: auto;
    min-width: 100%;
  }

  #description-container {
    margin-left: 0;
  }

  .skill-tech {
    min-width: 50px;
    min-height: 50px;
  }
}

/* ------------------------------
   ---------- Loader ------------
   ------------------------------ */
#loader-div{
  background-color: transparent; 
  width: 100dvw;
  height: 50dvh;
  border-radius: 15px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

#progress-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 60dvw;
  min-width: 20dvw;
  z-index: 10;
}

#loader-img{
  min-width: 350px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  box-shadow: 2px 1px 5px 2px rgba(255, 255, 255, 0.3);
  transform: scale(0.8);
  rotate: 4deg;
}

#bar-div{
  display: flex;
  flex-wrap: wrap;
  min-width: 40dvw;
  justify-content: center;
  height: 10dvh;
  align-items: center;
}

#progress{ 
  background-color: #fff; 
  min-width: 8%;
  max-height: 2%;
  color: white; 
  padding: 1%; 
  text-align: right; 
  font-size: 20px; 
  border-radius: 15px; 
  transition: width 0.2s ease;
  display: flex;
  align-items: center;
  box-shadow: 2px 1px 5px 2px rgba(255, 255, 255, 0.3);
} 

#progress-p{
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  width: 100%;
}

.fadeOut{
  animation-name: fadeOut;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0;
       visibility: hidden;  }
}

#button-loader{
  position: absolute;
  justify-self: center;
  width: 200px;
  height: 80px;
  background-color: transparent;
  border-radius: 5px;
  border-color: #FFF;
  box-shadow: 1px 1px 1px 2px #ffffffbd;
  justify-content: center;
  display: flex;
  opacity: 0;
}

.fadeIn{
  animation-name: fadeIn;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#button-loader h1{
  display: flex;
  align-self: center;
  width: fit-content;
}

.courtainEffect{
  animation-name: courtainEffect;
  animation-duration: 2s;
  animation-fill-mode: forwards;
} 

@keyframes courtainEffect {
  from { height: 100dvh; }
  to { height: 0dvh; 
       z-index: -1;}
}

/* -------------------------------
   --------- ContactMe -----------
   ------------------------------- */

#contact-data-container{
  background: linear-gradient(180deg, rgba(47,47,85,1) 30%, rgba(0,0,0,0.6) 100%);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 58%;
  height: 100%;
  display: flex;
  align-items: center;
}

#contact-image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  background: linear-gradient(180deg, rgba(47,47,85,1) 30%, rgba(0,0,0,0.6) 100%);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-left: 2%;
}

#img-contact{
  width: 100%;
  display: flex;
  aspect-ratio: 4 / 3;
}

hr{
  color: #FFF;
  width: 100%;
}

form{
  width: 100%;
  justify-content: center;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
}

form h1{
  margin-left: 1%;
  margin-bottom: 1%;
}

.group-name-email{
  margin: 2% 1% 2% 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 48%;
  height: 20%;
}

#subject-container{
  margin: 2% 1% 2% 1%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
}

input, textarea{
  width: 100%;
  border-radius: 3px;
  border: #FFF;
  padding: 1%;
  background-color: transparent;
}

label{
  display: flex;
  width: 100%;
  font-size: 0.8rem;
  justify-content: end;
}

input{
  height: 35px;
  box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.2);
}

::placeholder {
  color: #fff;
}

textarea{
  box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.2);
  min-height: 100px;
  max-height: 200px;
}

input:invalid, textarea:invalid{
  box-shadow: 2px 2px 2px 1px rgb(247, 99, 99);
}

input:focus{
  outline: none;
  box-shadow: 2px 2px 2px 1px rgba(12, 255, 251, 0.6);
  background-color: rgb(52, 52, 94);
}

input:active{
  box-shadow: 2px 2px 2px 1px rgba(12, 255, 251, 0.6);
  background-color: rgb(52, 52, 94);
}

textarea:focus,
textarea:active{
  outline: none;
  box-shadow: 2px 2px 2px 1px rgba(12, 255, 251, 0.6);
  background-color: rgba(47,47,85,1);
}

#user-name,
#user-email{
  padding: 2%;
}

#message-container{
  margin: 1%;
  width: 100%;
}

#button-email{
  margin-top: 3%;
  min-width: 100px;
  min-height: 50px;
  margin: 1px #ffff;
  background-color: transparent;
  font-size: 1.2rem;
  border-radius: 5px;
}

.activate:hover{
  background: linear-gradient(180deg, rgba(47,47,85,1) 60%, rgba(0,0,0,0.6) 100%);
  box-shadow: 2px 2px 2px 1px rgba(12, 255, 251, 0.6);
}

.activate{
  box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.2);
}

.desactivate:hover{
  box-shadow: 2px 2px 2px 1px rgb(247, 99, 99);
  background: linear-gradient(180deg, rgba(47,47,85,1) 60%, rgba(0,0,0,0.6) 100%);
}

@media only screen and (max-width: 768px) {
  #section-contact{
    height: fit-content;
  }

  #contact-data-container{
    width: 100%;
  }

  #contact-image-container{
    display: none;
  }

  .group-name-email{
    width: 100%;
  }
}

#response-image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.response-image{
  font-size: 2rem;
  font-weight: 900;
  color: #fff;
}

/* ----------------------- */
/* - ContactMe Animation -
/* ----------------------- */

.sending-container{   
  display: grid;
  place-content: center;
  height: 20vh;
}
.sending-animation{
  width: 120px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 auto; 
}
.sending-text{ 
  padding-top:20px;
  justify-content: center;
}
.sending-animation span{
  width: 100%;
  display: flex;
  justify-self: center;
  font-size: 1.3rem;
}
.balls {
    width: 15px;
    height: 15px;
    background-color: rgba(12, 255, 251);
    animation: jump .5s alternate
    infinite;
  border-radius: 50%  
}
.balls:nth-child(2) {
    animation-delay: .18s;
}
.balls:nth-child(3) {
    animation-delay: .37s;
}
.balls:nth-child(4) {
  animation-delay: .56s;
}
.balls:nth-child(5) {
  animation-delay: .75s;
}
@keyframes jump {
    from {
        transform: scaleX(1.25);
    }
    to{
        transform: 
        translateY(-50px) scaleX(1);
    }
}

/* ------------- */
/*     Aside     */
/* ------------- */
ul, li {
  list-style-type: none;
  margin: 1.5rem -1rem 1.5rem 0;
  cursor: pointer;
}

#aside-container {
  background-color: transparent;
  position: absolute;
  right: 0;
  width: 10dvw;
  z-index: 10;
  align-self: center;
  margin-right: 15px;
  height: 50%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(30% 25%, 100% 0, 100% 100%, 30% 75%);
}

.fa{
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  #aside-container{
    width: 30dvw;
    margin-right: 5px;
  }

  .fa{
    font-size: 2rem;
  }
}

/*-------------
    Footer
-------------*/
footer {
  width: 100dvw;
  min-height: 15dvh;
  background: linear-gradient(
        to bottom,
        rgb(255, 255, 255, 0.01),
        rgb(82, 77, 77, 0.3),
        rgb(82, 77, 77, 0.5),
        rgb(82, 77, 77, 0.7),
        rgba(82, 77, 77, 1)
    );

  border: 0;
  display: flex;
  justify-content:center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

h4{
  padding: 0;
  margin: 0;
  height: fit-content;
}

/* ------------- */
/* Scroll-footer */
/* ------------- */
#flex-scroll-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.icon-scroll {
  display: flex;
  justify-content: center;
  width: 35px;
  height: 60px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
  position: relative;
  margin-right: 2rem;
}

.icon-scroll:before {
  content: '';
  width: 6px;
  height: 7px;
  background: #fff;
  border-radius: 4px;
  animation: scroll 2s infinite;
  position: relative;
  top: 0.6rem;
}

@keyframes scroll {
  0% {
    opacity: 1;
    height: 20px;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    height: 7px;
    transform: translateY(20px);
  }
}

